<div class="home clearfix">
  <h1>Home</h1>
  <div class="clearfix recent-blogs">
    <ul class="clearfix unstyled blog-style">
      <li class="clearfix">
        <h2>Recent Blogs</h2>
      </li>
      <% @blogs.each do |f| %>
        <li class="clearfix">
          <span class="title-blog clearfix"><%= f.title %></span>
          <a href="#" class="btn btn-success comment-blog-btn clearfix rc-blog" id="<%= f.id %>">Comment</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
